

/*=====================*/
/*=====V-CONTAINER=====*/
/*=====================*/

.v-container.absolute{
    position: absolute;
    width: 100%;
    left: 0;
}
.v-container.absolute.top{
    bottom: 100%;
    left: 0;
}
.v-container.absolute.top.text-center > .v-responsive{
    margin: 0 auto;
}


/*=====================*/
/*=======V-SHEET=======*/
/*=====================*/
.v-sheet {
    position: relative;
}


/*=====================*/
/*=======V-DIALOG======*/
/*=====================*/
.v-dialog .absolute.top{
    top: 0;
}


header{
    z-index: 2010 !important;
}

.v-overlay__content.fullwidth{
    left: 0 !important;
    max-width: 100vw !important;
}